body {
  font-family: 'Roboto' , sans-serif;
}

#home {
  padding-top: 0%;
}

.no-upper-case {
  text-transform: none;
}

.ext-links {
  margin: 10px;
}

.mobile-text {
  font-size: 1.2rem;
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
}

#toast-container {
  position: fixed !important;
}

@media only screen and (max-width: 600px) {
  #name {
    font-size: 3rem;
  }
  .mobile-text {
    font-size: 1.3rem;
  }
  .toast-mobile {
    width: fit-content;
    color: white;
    background-color: black;
  }
}

.autograph {
  width: 200px;
}
.autograph__path {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.animated .autograph__path {
  opacity: 1;
  animation-name: line;
}
@keyframes line {
  100% {
    stroke-dashoffset: 0;
 }
}